@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');
.App {
  text-align: center;
  background-color: rgb(0, 0, 0);
  font-family: 'Staatliches', cursive;
  letter-spacing: 3px;
}
h1, h2, h3, h4, h5, p, ul, button, iframe{
  margin: 0;
  padding: 0;
}
iframe{
  border:none;
}

a{
  list-style: none;
  text-decoration: none;
  color:white;
}
.allresults{
  display:flex;
  flex-direction: column;
}
.movie{
display:flex;
}
.poster{
  width:100%;
}
.headerFlex{
 display:flex; 
 justify-content: space-between;
}
header .title a {
  text-decoration: none;
  color:rgb(255, 255, 255);
  font-size: 1.6em;
  font-family: 'Staatliches', cursive;
  letter-spacing: 3px;
}
.searchBar{
  opacity:0;
  transition: all .3s;
  z-index: -777;
  position: absolute;
  top:0;
  width:100%;
}
header{
  position: relative;
  background-color: rgb(19, 19, 19);
}
.show{
  transition: all .3s;
z-index: 1000;
opacity: 1;
display:block;
position: absolute;
top:0;
width:100%;

}
#menuBtn{
  background-color: rgba(255, 255, 255, 0);
  border:none;
  cursor:pointer;
}
.searchImg{
  width:70px;
  padding-top: 5px;
}
#searchField{
  width:80%;
  padding: 24px;
  background-color: rgb(32, 32, 32);
  color:white;
  border:none;

}
.searchBox{
  width:100%;
  display:flex;
  
}
#hideBtn{
  width:15%;
  padding: 0;
  margin: 0;
  background-color: rgb(32, 32, 32);
  border:none;
  cursor:pointer;
}
#menuBtn svg{
  width:50px;
}
#main-nav button{
background-color: rgba(255, 255, 255, 0);
border:none;
cursor:pointer;
}
svg{
  background-color: rgba(0, 0, 0, 0);
  fill:white;
  width:30;
}
#searchButton{
  width:50px;
  background-color: rgb(19, 19, 19);
  fill:rgba(255, 255, 255, 0);
  border:none;
  cursor:pointer;
}
.resultlist{
  position: absolute;
  transition: all .2s;
  top:-500px;
  z-index: 9999;
  background-color: rgb(32, 32, 32);
  width:100%;
}
.show .resultlist{
  transition: all .2s;
  position: absolute;
  top:65px;
  
}
.resultlist ul li a{
text-decoration: none;
color:rgb(255, 255, 255);

}
.resultlist ul{
  margin: 0;
  padding: 0;
}
.resultlist ul li{
  list-style: none;
  display:flex;
  border-bottom: 1px white solid;
}
.resultlist ul a{
  list-style: none;
}
.searchInfo{
  display:flex;
  flex-direction: column;
  text-align: left;
}
.searchInfo p {
  color:white;
  list-style: none;
  padding-left: 10px;
  padding-top: 10px;
  font-size: .9em;
}
.searchInfo p:nth-child(1){
  font-size: 1.2em;
}
.searchInfo p:nth-child(3){
  font-size:1.3em;
}
.resultlist li:hover{
  background-color: grey;
}
.main-nav{
  
  position: absolute;
  left:-100%;
  z-index: 9999;
  color:white;
  width:300px;
  height:100vh;
  
  transition:all .4s;
}
.main-nav nav{
  background-color: black;
  height:100vh;
}
.main-nav nav li{
  font-size:1.5em;
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.main-nav nav li:hover{
  background-color: darkgrey;
}
.exit-bar{
  background-color: rgb(32, 32, 32);
  display:flex;
  justify-content: space-between;
  align-items: center;
  border-top-right-radius: 50px;
}
.exit-bar h2{
padding-left: 20px;
}
.nav-exit{
  padding-top: 26px;
  padding-bottom: 13px;
padding-right: 20px;
cursor: pointer;
}
.reveal{
  left:0;
  position: fixed;
  transition:all .25s;
}
.backdrop{
  width:100%;
  
}
.hero .poster{
  width:20%;
}
.hero{
  width:100%;
  position: relative;
  /* max-height: 60vh; */
  
}
.hero .backdrop{
  
  
  object-fit: cover;
  object-position: 0 0;
}
.hero .poster{
  display:none; 
  position: absolute;
  width:30%;
  left:30px;
  top:50px;
}
.hero .words{
  position: absolute;
  width:100%;
  right: 50%;
  top:50%;
  transform: translate(50%, -10%);
  
  color:white;
  display:flex;
  flex-direction: column;
  justify-content: center;
  
}
.hero h2{
  font-size:1.5em;
 filter: drop-shadow(5px 5px 5px black);
}

.hero .words p{
font-size:1em;
box-shadow: 5px 5px 10px black;
}
@media screen and (min-width:450px){
  .hero .words p{
    font-size:1.8em;
  }
  .hero h2{
    font-size:2.5em;
  }
}
.hero a{
  width:100%;
  height:100%;
  z-index: 1000;
  text-decoration: none;
  font-size: 1em;
}

.seeMore {
  color:white;
  width:150px;
  border-radius:30px;
  background-color: rgba(88, 88, 88, 0.788);
  margin:auto;
}
.seeMore:hover{
  background-color: rgba(119, 119, 119, 0.658);
}
.featuredmovies{
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0);
  display:flex;
  justify-content: space-evenly;
  flex-wrap:wrap;

}
.movie{
  
  width:46%;
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  margin-top: 16px;
  box-shadow:3px 8px 10px 6px rgba(0, 0, 0, 0.925);
}
@media screen and (min-width:450px) {
  .movie{
    width:46%;
  }
}
@media screen and (min-width: 750px) {
  .movie{
    width:32%
  }
  
}
@media screen and (min-width: 1000px) {
  .movie{
    width:24%
  }
  
}
@media screen and (min-width: 1280px) {
  .movie{
    width:19%
  }
  
}
.movie img{
  width:100%;
  height:auto;
}
.reccomended{
  width:80%;
}

.movie a:hover{
  color:white;
  background-color: rgba(0, 0, 0, 0.664);
  
  height:100%;
}
.movie a{
  width:100%;
  height:100%;
  position: relative;
  bottom:0;
  color:white;
  text-decoration: none;
  
  background-color: rgba(92, 92, 92, 0);
}
.current-movies{
  color:white;
  font-size: 1.4em;
  z-index: 1200;
  
}
.overview{
  z-index:999;
  position: absolute;
  top:0;
  width:100%;
  height:100%;
  font-size:.75em;
  color:rgba(255, 255, 255, 0);
}
.overview p {
  font-size: .9em;
  padding-top: 10px;
}
.overview:hover{
  color:white;
  background-color: rgba(0, 0, 0, 0.753);
}
.moreinfo{
  width:100%;
 color:white;
 position: absolute;
 bottom:0;
 font-size:1.5em;
 background-color: rgba(128, 128, 128, 0.589);
 z-index: 900;

}
.single{
  background-color: white;
  max-width: 1200px;
  margin: auto;
  
}
.single{
  color:rgb(255, 255, 255);
}
.single h5{
  color:white;
}
.single .backdrop{
  
  
  max-height:50vh;
  object-fit: cover;
  object-position: 0 0;
}
/* .single-wrapper{
  position: relative;
}
.single .single-wrapper .poster{
  position: absolute;
  width:150px;
  top:50%;
} */
.single-hero{
  position: relative;
  
}
.single-main{
  display:flex;
  padding-top: 10px;
}
.single-main .poster{
  padding-left: 10px;
  width:40%;
  height:60%;
  
}
.single{
  background-color: rgb(0, 0, 0);
  color:white;
}
.single-main-content{
  padding: 0 10px 10px 10px;
}
.single-main-content{
  display:flex;
  flex-direction: column;
  align-items: center;
  font-size:.8em;
  text-align: left;
}
.genres-all{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
  padding-bottom: 10px;

}
.genres-all p {
  border: 1px white solid;
}
/* .single-main-content p:nth-child(4) {
   padding-top: 15px;
  text-align: left;
  padding-bottom: 10px; 
} */


.single-header{
  /* display:flex;
  justify-content: space-evenly;
  text-align: center; */
  width:100%;
  display:flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
  
}
.single-vote{
  font-size: 2.5em;
  border-radius: 100px;
  text-align: left;
  color:yellow;
 
}
@media screen and (min-width: 1240px) {
  .single-main .poster{
    padding-left: 0;
  }
  
}
.actor h3{
  font-size: .7em;
}
.single .all-actors{
  display:flex;
  width:100%;
  margin: auto;
}
.single .all-actors .actor{
  width:20%;
}
.single .all-actors .actor img{
  width:100%;
}
.single .trailer {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.single iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* #addToFavorites{
  background-color: yellow;
  border:none;
  color:rgb(0, 0, 0);
  padding: 8px;
  border-radius: 50px;
  cursor:pointer;
  
}
#addToFavorites:hover{
  background-color: rgb(226, 223, 34);
  color:rgb(0, 0, 0);
} */
.btnNotFav{
  position: relative;
  background-color: rgba(255, 255, 0, 0);
  border:none;
  color:rgb(0, 0, 0);
  
  border-radius: 25px;
  cursor:pointer;
}

.btnFav{
  background-color: rgba(134, 134, 134, 0);
  
  border:none;
  color:rgb(0, 0, 0);
  

  border-radius: 25px;
  cursor:pointer;
}
.btnFav svg{
  fill:rgb(255, 255, 0);
  
}
.slick-slider{
  max-height:60vh;
  padding-bottom: 20px;
}
.slick-dots{
  color:white;
  
  position: absolute;
  bottom:0;
}
.slick-active{
  color:white;
}
.slick-dots li.slick-active button:before{
  color:white;
}
.slick-dots li button:before{
  color:rgb(253, 253, 253);
}
 .slick-dots li button:hover:before, .slick-dots li button:focus:before{
  color:rgba(235, 235, 235, 0);
} 
.slick-dots li button:focus:after{
  color:black;
}
.slick-dots li button:focus:before{
  color:rgb(255, 255, 255);
}

.footer{
  background-color: black;
  color:white;
}
#toTopBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99999; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#toTopBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}